POSTGRES_DB=auction_warehouse
POSTGRES_USER=auction
POSTGRES_PASSWORD=auction
AUCTION_DB_PORT=5544
AUCTION_UI_PORT=8501
COLIMA_CPUS=4
COLIMA_MEMORY=4
COLIMA_DISK=80
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5544
